@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,600;1,700;1,800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: cornflowerblue;
}
.container{
  position: grid;
  width:450px;
  height:500px;
  background-color: antiquewhite;
  border-radius: 30px;
  padding:3%;
}
.hi{
  width: 100%;
  height: 30%;
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: start;
}
.hi h3{
  font-size: 3rem;
  color: black;
}
.description{
  width: 90%;
  height: 10%;
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.description p{
  font-size: 12px;

}

.pw {
  display:grid;
  width: 100%;
  height: 40%;
  justify-content: center;
  align-items: center;
}
.pw .password{
  margin-bottom: 1rem;
  border: none;
  display: grid;
  width: 300px;
  background: transparent;
  padding: 15px 20px;
  font-size: 1.5rem;
  outline: 2px solid #ccc;
  box-sizing: border-box;
  border-radius: 30px;

}
.pw .submit{
  background-color: #ccc;
  border: none;
  display: grid;
  width: 300px;
  display: inline-block;
  position:absolute;
  font-size: 1.5rem;
  border-radius: 30px;
  padding: 15px 20px;
  transition: 1s;
}
.pw .submit:hover{
  background-color: rgb(159, 159, 159);
  transition: 1s;
}
.info{
  width: 100%;
  height: 20%;
  display: grid;
  align-content: center;
  justify-content: center;
}

.info p{
  font-size: 12px;
  color:cornflowerblue;
}

