@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  opacity:0;
  transition: opacity 2s;
}
.hero{
  max-width: 100%;
  height: 100%;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10%;
}
.nav .logo h2{
  min-width: 150px;
}
.link ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  min-width: fit-content;
}
.link ul a{
  text-decoration: none;
  color:cornflowerblue;
  font-weight: 400;
  transition: all 1000ms ease;
}
.link ul a:hover{
  color:crimson;
}
@media screen and (max-width: 768px) {
  
  .nav {
    flex-direction: column;
  }

  .nav .nav_tooglebtn{
    display: block;
  }

}

.nav_tooglebtn {
  position: absolute;
  align-items:flex-end;
  right: 32px;
  margin-top:-45px;
  size: 10em;
  font-size: 50px;
  color:cornflowerblue;
  display: none;
}


.gird{
  background-image: url('PICTURE/ball.png');
  background-size: cover;
  align-items: center;
  position: relative;
}

.main{
  max-width: 1500px;
  margin-top: 70px;
  margin-left: 15%;
  margin-right: 15%;
}

.main .yejin{
  max-width: 25vmax;
  display: inline-block;
  transition:all 2000ms ease;
  cursor:pointer;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: 50px;
}
.main .yejin:hover{
  transform:scaleY(1.1) scaleX(1.1);
}

.main-dt{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: cornflowerblue;
  position: absolute;
  max-width: 800px;
  margin: 3%;
  padding-top: 10;
}
.main-dt p{
  font-size: 2vmax;
}
.main-dt h1{
  font-size: 5vmax;
}
.main-dt h4{
  font-size: 1em;
  margin-bottom: 20px;
}
.main-dt h3{
  font-size: 2vmax;
  color: beige;
}

.btn button{
  padding: 8px 20px;
  background: transparent;
  border-radius: 30px;
  border: 1px solid rgb(36, 69, 129);
  margin-right: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  align-items: center;
}

.main-dt .btn .btn2{
  background:  rgb(0, 33, 94);
  color:blanchedalmond;
  border:none;
  outline: none;
  transition: all 1000ms ease;
}
.main-dt .btn .btn2:hover{
  background: pink;
}

.footer_margin{
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;
  min-height:100px;
}

footer{
  position: relative;
  width:100%;
  background:  cornflowerblue;
  min-height:100px;
  padding:20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  margin-top: 50px;
}

footer .social_icon,
footer .menu_footer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer .social_icon li,
footer .menu_footer li{
  list-style: none; 
}

footer .social_icon li a{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover {
  transform: translateY(-10px);
}

footer .menu_footer li a
{
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu_footer li a:hover{
  opacity: 1;
}
footer p{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em
}
footer .wave{
  position: absolute;
  top: -99px;
  left:0;
  width: 100%;
  height: 100px;
  background: url(PICTURE/wwawww.png);
  background-size: 1000px 100px;
}
footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave2{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 2s linear infinite;
}
footer .wave#wave4{
  z-index: 999;
  opacity: 0.7;
  bottom: 25px;
  animation: animateWave_02 1s linear infinite;
}

@keyframes animateWave{
    0%
    {background-position-x:1000px;}
    100%
    {background-position-x: 0px;}
}
@keyframes animateWave_02{
  0%
  {background-position-x:1000px;}
  100%
  {background-position-x: 0px;}
}
